.menu__root {
    display: grid;
    justify-content: end;
    width: 100%;
}

.menu__select {
    padding: 2px 2px 2px 5px;
    border-radius: 5px;
    color: white;
    background: transparent;
    font-size: 13px;
    font-weight: 600;
    border-color: white;
    border-width: 2px;
    outline: none;
    cursor: pointer;
}
